<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smalltown.rainsimpleexample" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:name=".global.RainApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:configChanges="orientation|keyboardHidden|screenSize">


        <!--****start! 高德地图支持****-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="0562d79125852e60e2172bec2930fc7f"/>
        <!--****end! 高德地图支持****-->


        <activity android:name=".ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.MainActivity"/>
        <activity android:name=".ui.activity.HomeActivity"/>
        <activity android:name=".ui.activity.RecycleActivity"/>
        <activity android:name=".ui.activity.JsBridgeActivity"/>
        <activity android:name=".ui.activity.RandomActivity"/>
        <activity android:name=".ui.activity.FlyActivity"/>
        <activity android:name=".ui.activity.AnimatorActivity"/>
        <activity android:name=".ui.activity.DialogFragmentActivity"/>
        <activity android:name=".ui.activity.ObjAnimatorActivity"/>
        <activity android:name=".ui.activity.MvpSimpleActivity"/>
        <activity android:name=".ui.activity.GdMapActivity"/>
        <activity android:name=".ui.activity.RetrofitActivity"/>
        <activity android:name=".ui.activity.JobQueueActivity"/>
        <activity android:name=".ui.activity.RxAndroidActivity"/>
        <activity android:name=".ui.activity.BlowActivity"/>

        <!-- 定位需要的服务 使用2.0的定位需要加上这个 -->
        <service android:name="com.amap.api.location.APSService"></service>
    </application>

</manifest>
